.version
{
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
}

.test
{
    color: #FF0000;
    font-family: Arial;
    font-size: 13px;
}